cache/
out/
.gas-snapshot
.vscode/
.env
.encryptedKey
broadcast/

node_modules
package-lock.json

.DS_Store
src/.DS_Store

Shariah_Compliance_Arabic.pdf
Shariah_Compliance_Case.pdf
shariah_arabic.html
shariah_compliance.html
